{% extends "base.html.twig" %}

{% block title  %} All films {% endblock %}

{% block body %}

    {% if films %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Film Title</th>
                <th>Film cover</th>
                <th>Release year</th>
                <th>Duration</th>
            </tr>
            </thead>
            <tbody>
            {% for film in films %}
                <tr>
                    <td>{{ film.title}}</td>
                    <td> <img src="/getImage/{{ film.id }}"></td>
                    <td> {{ film.year }}</td>
                    <td> {{ film.duration }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> No films in the database! Check back later. </p>
    {% endif %}

{%  endblock %}